name: Deploy to EC2

on:
  push:
    branches:
      - master

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Django tests
        run: |
          python manage.py test


  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/apps/miRedSocial/miRedSocial
            git pull
            source ../venv/bin/activate
            pkill gunicorn || true
            gunicorn miRedSocial.wsgi:application --bind 0.0.0.0:8000 --daemon
